# Directories
LLM_2/
LLM_Setup/
LLM_new/
__pycache__/
build/
dist/

.kilo/
.kiro/
.vs/
.vscode/
.zed/
archiv/
llm_glm/
llm_opencode/
llm_test/
llm_test_grok/
llm_test_minimax/
python_only/

# Python backup files
*.bak
*.pyc

# Spec files
*.spec
!LLMServerController.spec
!LLMServerController-linux.spec


# Lock files
.~lock*

# Temp files
git_commands.txt

# PDF/EPUB files
*.pdf
*.epub

# Backup/alternate versions
main_v_1.py

# User configuration
llama_config.json

icon/*
!icon/256x256.ico
!icon/64x64.ico
!icon/32x32.ico
!icon/24x24.ico
!icon/16x16.ico
!icon/256x256.png
!icon/64x64.png
!icon/32x32.png
!icon/24x24.png
!icon/16x16.png
!icon/icon48x48.png
